.pd-10 {
    padding: 10px;
}

.full {
    height: 100%;
    width: 100%;
}

.f-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.w100 {
    width: 100%;
}

.auto-bar {
    overflow: auto;
}
